canvas { 
	padding: 0px;
}

body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0;
}

.center {
	margin: auto;
	width: 1185px;
	padding: 0px;
}

.center_mob {
	width: 100%;
	height: auto;
}

#pageFooter_dsc {
	background-image: url("./imghtml/footerbg_dsc.png");
}

#pixiJS {
	max-width: 100%;
	overflow: hidden;
}

body > div {
	max-width: 100%;
	overflow: hidden;
}

#demo_content {
  display: block;
}

#selectors {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#showButton {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#selectors_UI {
  white-space: nowrap;
  display: block;
}